<html>
	<head>
		<!-- <script language="javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script> -->
		<script language="javascript" src="localStorage.polyfill.js"></script>
		<script language="javascript" src="basil-0.05.js"></script>
		<script language="javascript" src="basil-helper-if-0.01.js"></script>
		<script language="javascript" src="basil-helper-show-0.01.js"></script>
		<script language="javascript" src="basil-helper-scope-0.01.js"></script>
		<script language="javascript" src="basil-helper-src-0.01.js"></script>
		<script language="javascript" src="basil-helper-href-0.01.js"></script>
		<!-- <script language="javascript" src="basil-0.05.min.js"></script> -->
		<script>
			
			//
			//	Initialise the app
			//
			var app = new BasilJS({
				//removeBrokenListeners:true, 
				//autoStart: false,
				//cachedVariables: []
				//cachedVariables: ["username", "password"]
			});
			
			//
			//	Sets the scope for the template within the model.
			//	i.e. a scope of model, will give the template access
			//	to anything under model.*. {{one}} becomes model.one
			//
			//	No scope allows full access to the app object variables
			//
			app.Utils.Template.variableScope = "model";
			
		</script>
		<style>
			body {
				font-family: Arial;
				font-size: 16px;
			}
			p span {
				width: 100px;
				display: inline-block;
			}
		</style>
	</head>
	<body>
	<h1>BasilJS 2nd prototype</h1>
	<hr />
	<p>1) Simple variable substitution</p>
	<p><span>one:</span><input data-bind="one" /></p>
	<p><span>one:</span>{{one}}</p>
	<hr />
	<p>2) Show hide an element dependent on variable value</p>
	<p><span>two:</span><input data-bind="two" /></p>
	<p data-show="two"><span>two:</span>{{two}}</p>
	<hr />
	<p>3) Add / remove an element from the dom dependent on variable value (and then compile contents to bind to variables)</p>
	<p><span>three:</span><input data-bind="three" type="password" /></p>
	<p data-if="three"><span>three:</span>{{three}}</p>
	<hr />
	<p>4) Nested elements</p>
	<p><span>four:</span><input data-bind="four" /></p>
	<div data-if="four">
		<p data-scope='{"dominicengland":"a tool"}'><span>four:</span>{{four}} - Dominic England is {{dominicengland}}<b>{{dominicengland}}</b></p>
		<p><span>five:</span><input data-bind="five" /></p>
		<p data-if="five"><span>five:</span>{{five}}</p>
	</div>
	<div>
		<p>Instagram link?</p>
		<p>{{instagram[0].link}}</p>
		<p><a data-href="instagram[0].link"><img data-src="instagram[0].images.standard_resolution.url" /></a></p>
	</div>
	
	<script>
		//
		// Compile template
		//
		var compilation = new app.Utils.Template.compile(document);
		
		//
		// Remove listeners right down the chain when you're done with the
		// template, or say when you wanted to replace it with a new
		// template.
		//
		// compilation.removeListeners();
		
		//
		//	XML HTTP
		//	https://api.instagram.com/v1/tags/workspace/media/recent?client_id=467ede5a6b9b48ae8e03f4e2582aeeb3&count=37
		//
		var x = function (c) {
			console.log(c);
			app.model.instagram = c.data;
		}
		
		setInterval(function () { 
			var s = document.createElement("script");
			s.src = "https://api.instagram.com/v1/tags/workspace/media/recent?client_id=467ede5a6b9b48ae8e03f4e2582aeeb3&count=37&callback=x";
			document.body.appendChild(s);
		}, 5000);
	</script>	
	</body>
</html>	